# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore defautl Virtualmin stuff in publich_html
awstats-icon
awstatsicons
icon
mail
phpmyadmin
stats
